* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

main {
   display: flex;
    width: 48rem;
    height: 28rem;
}

section {
    padding: 1rem;
}
section h1 {
      color: hsl(0, 0%, 95%); 
      padding: 2rem 0;
}
section p {
    padding: 1rem 0 6rem 0;
    color: hsla(0, 0%, 100%, 0.75);
}
button {
    width: 8rem;
    height: 2rem;
    border-radius: 2rem;
    border: .1rem solid #fff;    
    transition: all 0.25 ease;
}
button:hover {
    background: transparent;
    cursor: pointer;
    position: relative;
    color: #fff;
}
.SEDANS button {
    color: hsl(31, 77%, 52%);
}
.SEDANS  {
    background-color:  hsl(31, 77%, 52%);
}
.SUVS {
    background-color: hsl(184, 100%, 22%);
}
.SUVS button{
    color: hsl(184, 100%, 22%);
}
.LXY {
    background-color:  hsl(179, 100%, 13%);
}
.LXY button {
    color: hsl(179, 100%, 13%);
}

@media only screen and (max-width:400px){
    main {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 19rem;
        height: 45rem;
    }

    section {
        height: 15rem;
    }
    section h1 {
        padding: .4rem 0;
        font-size: small;
    }
    
    section p {
        padding: .9rem 0;
        font-size: smaller;
    }
}